.team_listing .image{
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

.team_listing .create_team{
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
}

.team_listing form .submit{
    text-align: left;
}

.all_teams .team{
    border-bottom: 1px solid #ccc;
}

.all_teams .team a{
    color: initial
}

.all_teams .team:last-child{
    border: none;
}

.create_more_teams{
    max-width: 300px;
    width: 100%;
    padding-top: 40px;
}

