*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    font-family: Roboto;
}

.App{
    padding-top: 70px;
}

.title{
    padding-bottom: 15px;
}

.error{
    color: red
}

img{
    max-width: 100%;
}

.logo{
    max-width: 70px;
}

.logo img{
    width: 100%;
}

